name: year
on:
  schedule:
    - cron: '0 1 22 * *'
jobs:
  license:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: FantasticFiasco/action-update-license-year@v3
        with:
          token: ${{ secrets.TOKEN_GH }}
          path: |
            **/*
          commitTitle: "update license year"